---
import Is from "../../components/Is.astro";
import Singleis from "../../components/Singleis.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Knap from "../../components/Knap.astro";
import "../../styles/style.css";

export async function getStaticPaths() {
  const data = await fetch("https://knpasnojnbrmppkbhvhs.supabase.co/rest/v1/products", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtucGFzbm9qbmJybXBwa2JodmhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4MDI0MzgsImV4cCI6MjAzMTM3ODQzOH0.eV1A8Lk9Z7NfumZ5D9SRoNkwuK49yVj8DYHv3q0-bNM",
    },
  }).then((response) => response.json());

  return data.map((is) => {
    return {
      params: { slug: is.slug },
      props: { myData: is },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header>
        <Header />
        <!-- <img class="header_img" src={"/public/img/varianter/" + myData.hero - image} alt="is" /> -->
      </header>
      <h1>{myData.name}</h1>
    </main>

    <a href="/isvarianter"> <Knap button_text="TILBAGE" variant="back" /></a>

    <Singleis>
      <div class="om_is">
        <div>
          <p class="produkt_p">{myData.description}</p>
        </div>

        <div class="ingredienser_div_label">
          <h4 class="ingrediens_h4">Ingredienser</h4>
          <p class="ingrediens_p">{myData.Ingredienser}</p>
        </div>
      </div>

      <div class="produkt_billede_div">
        <img class="produkt_img" src={"/public/img/varianter/" + myData.image} alt="is" />
      </div>
    </Singleis>
    <Footer />
  </body>
</html>

<style>
  h1 {
    background-image: url(/img/hero_billede.webp);
    background-size: cover;
    padding-left: 24px;
  }

  .ingrediens_h4 {
    text-align: center;
  }

  .produkt_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .produkt_billede_div {
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: right;
    bottom: 580px;
    right: 24px;
  }
  .produkt_p {
    margin-left: 24px;
    max-width: 180px;
  }
  .ingredienser_div_label {
    margin-top: 50px;
    margin-left: 24px;
    width: 255px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 25px;
    padding-top: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .ingredienser_div_label p {
    text-align: center;
    padding: 10px;
  }
  @media (min-width: 768px) {
    .produkt_img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
    .produkt_billede_div {
      display: flex;
      z-index: 1;
      position: relative;
      justify-content: right;
      bottom: 440px;
      right: 50px;
    }
    .produkt_p {
      max-width: 500px;
      margin-left: 50px;
    }

    .om_is {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .ingredienser_div_label {
      width: 255px;
      height: 290px;
      background-color: #ffffff;
      border-radius: 25px;
      padding-top: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    h1 {
      padding-left: 50px;
    }
  }
  @media (min-width: 1024px) {
    h1 {
      padding-left: 104px;
    }

    .produkt_billede_div {
      bottom: 520px;
      right: 104px;
    }

    .produkt_p {
      margin-left: 104px;
    }
  }
</style>
