* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f7fa;
  box-sizing: border-box;
  color: #12375b;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-family: "Luckiest Guy";
  color: white;
  letter-spacing: 0.5px;
  text-shadow: -2px -2px 0 #ea9942, 2px -2px 0 #ea9942, -2px 2px 0 #ea9942, 2px 2px 0 #ea9942, 2px 0 0 #ea9942, -2px 0 0 #ea9942, 0 2px 0 #ea9942, 0 -2px 0 #ea9942;
  padding-top: 100px;
  padding-bottom: 100px;
}

h2 {
  font-family: "Margarine";
  text-transform: uppercase;
  font-size: 1.083rem;
  letter-spacing: 0.5px;
  font-weight: 100;
}

h3 {
  font-family: "Margarine";
  text-transform: uppercase;
  font-size: 0.975rem;
  font-weight: 100;
  line-height: 35px;
}

h4 {
  font-family: "Margarine";
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 100;
}

p {
  font-family: system-ui, sans-serif;
  font-size: 0.8rem;
  line-height: 30px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4.2rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.95rem;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 6rem;
    text-shadow: -4px -4px 0 #ea9942, 4px -4px 0 #ea9942, -4px 4px 0 #ea9942, 4px 4px 0 #ea9942, 4px 0 0 #ea9942, -4px 0 0 #ea9942, 0 4px 0 #ea9942, 0 -4px 0 #ea9942;
    padding-top: 314px;
    padding-bottom: 156px;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 40px;
  }
}
