* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f7fa;
  color: #12375b;
}

img {
  max-width: 100%;
}
h1 {
  font-size: 6rem;
  font-family: "Luckiest Guy";
  color: white;
  letter-spacing: 0.5px;
}
