---
import "../styles/style.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Knap from "../components/Knap.astro";
import Gulis from "../components/Gulis.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Gelato Coolbox</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><Header /></header>

    <main>
      <h1>GELATO COOLBOX</h1>
      <div class="grid_overst">
        <div class="afsnit1_2">
          <div class="afsnit">
            <h2>Hjemmelavet is til din fest</h2>
            <p>Vil du have lækker, frisklavet Siciliansk is til brylluppet, fødselsdagen eller firmarrangementet? Lej en Gelato Cool Box og spis alt det is du har lyst til! Du skal bare vælge smage, og så klarer vi resten.</p>
            <p class="pris">Pris: 2000 kr.</p>
          </div>

          <div class="afsnit">
            <h2>Hvad er inkluderet?</h2>
            <p>Boksen behøver ikke strøm, og kan holde sig kold i op til 12 timer. Boksen kommer med 12 liter is, fordelt på 2 varianter, som I selv vælger. Der er is til ca. 40-100 personer (2x6L) pr. boks.</p>
            <p class="skeer">Inkl. bægre og skeer.</p>
          </div>
        </div>

        <div>
          <img src="/img/gelato_vafler.webp" alt="Cool Box" class="img_pige" />
        </div>
      </div>

      <div>
        <section class="variant_afsnit">
          <h2 class="h2">VÆLG 2 VARIANTER TIL DIN BOX</h2>

          <form id="variantForm" data-netlify="true">
            <div class="variant-container varianter_grid">
              <div>
                <div class="variant">
                  <input type="checkbox" id="floor_di_latte" name="variants" value="FLOOR DI LATTE" />
                  <label for="floor_di_latte">FLOOR DI LATTE </label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="mandel" name="variants" value="MANDEL" />
                  <label for="mandel">MANDEL <img src="/img/nut.webp" alt="Nut" class="icon" /></label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="hasselnod" name="variants" value="HASSELNØD" />
                  <label for="hasselnod">HASSELNØD <img src="/img/nut.webp" alt="Nut" class="icon" /></label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="pistacie" name="variants" value="PISTACIE" />
                  <label for="pistacie">PISTACIE <img src="/img/nut.webp" alt="Nut" class="icon" /></label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="lakrids" name="variants" value="LAKRIDS" />
                  <label for="lakrids">LAKRIDS</label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="citron_sorbet" name="variants" value="CITRON SORBET" />
                  <label for="citron_sorbet">CITRON SORBET <img src="/img/vegan.webp" alt="Vegan" class="icon" /></label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="mandarin_sorbet" name="variants" value="MANDARIN SORBET" />
                  <label for="mandarin_sorbet">MANDARIN SORBET <img src="/img/vegan.webp" alt="Vegan" class="icon" /></label>
                </div>
              </div>

              <div>
                <div class="variant">
                  <input type="checkbox" id="chokolade" name="variants" value="CHOKOLADE" />
                  <label for="chokolade">CHOKOLADE</label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="kaffe" name="variants" value="KAFFE" />
                  <label for="kaffe">KAFFE</label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="stracciatella" name="variants" value="STRACCIATELLA" />
                  <label for="stracciatella">STRACCIATELLA</label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="zuppa_inglese" name="variants" value="ZUPPA INGLESE" />
                  <label for="zuppa_inglese">ZUPPA INGLESE</label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="jordbaer_sorbet" name="variants" value="JORDBÆR SORBET" />
                  <label for="jordbaer_sorbet">JORDBÆR SORBET <img src="/img/vegan.webp" alt="Vegan" class="icon" /></label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="blodappelsin_sorbet" name="variants" value="BLODAPPELSIN SORBET" />
                  <label for="blodappelsin_sorbet">BLODAPPELSIN SORBET <img src="/img/vegan.webp" alt="Vegan" class="icon" /></label>
                </div>
                <div class="variant">
                  <input type="checkbox" id="blaabaer_sorbet" name="variants" value="BLÅBÆR SORBET" />
                  <label for="blaabaer_sorbet">BLÅBÆR SORBET <img src="/img/vegan.webp" alt="Vegan" class="icon" /></label>
                </div>
              </div>
            </div>

            <div class="ikoner">
              <div class="vegan">
                <p><img src="/img/vegan.webp" alt="Vegan" class="icon" /> = Vegansk</p>
              </div>

              <div class="nut">
                <p><img src="/img/nut.webp" alt="Nut" class="icon" /> = Indeholder nødder</p>
              </div>
            </div>
          </form>
          <Gulis sizeandplace="coolbox" />
        </section>
        <section>
          <form>
            <div class="afsnit_2">
              <h2 class="h2">SKRIV DINE OPLYSNINGER NEDENFOR</h2>

              <p class="tekst_2">Vi bestræber os efter at vende tilbage indenfor 2 hverdage.</p>
            </div>

            <div class="oplysninger_form">
              <div>
                <label for="name">Fulde navn:</label>
                <input type="text" id="name" name="name" required />
              </div>

              <div>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required />
              </div>

              <div>
                <label for="phone">Telefonnummer:</label>
                <input type="tel" id="tel" name="tel" required />
              </div>

              <div>
                <label for="date_time">Vælg dato og tidsrum:</label>
                <input type="datetime-local" id="date_time" name="date_time" />
              </div>

              <div>
                <label for="address">Adresse:</label>
                <input type="text" id="address" name="address" required />
              </div>

              <div>
                <label for="delivery-method">Vælg leveringsmetode:</label>
                <select id="delivery-method" name="delivery-method" required>
                  <option value="">Vælg en metode</option>
                  <option value="delivery">Levering</option>
                  <option value="pickup">Afhentning</option>
                </select>
              </div>

              <div>
                <label for="message">Kommentarer eller spørgsmål?</label>
                <textarea id="message" name="message" rows="4"></textarea>

                <!-- <div class="button">
                  <Knap type="submit" button_text="SEND" variant="orange" class="button" type="submit" />
                </div> -->
                <button class="orange_knap" type="submit">SEND</button>
              </div>
            </div>
          </form>
        </section>
        <script>
          document.querySelectorAll('input[name="variants"]').forEach((checkbox) => {
            checkbox.addEventListener("change", function () {
              var selectedOptions = Array.from(document.querySelectorAll('input[name="variants"]:checked')).length;
              document.querySelectorAll('input[name="variants"]').forEach((box) => {
                if (selectedOptions >= 2 && !box.checked) {
                  box.disabled = true;
                } else {
                  box.disabled = false;
                }
              });
            });
          });

          document.getElementById("variantForm").addEventListener("submit", function (event) {
            event.preventDefault();

            var selectedOptions = Array.from(document.querySelectorAll('input[name="variants"]:checked')).map((option) => option.value);

            if (selectedOptions.length !== 2) {
              alert("Du skal vælge præcis to varianter.");
            } else {
              alert("Du har valgt " + selectedOptions.join(" og ") + ".");
            }
          });
        </script>
      </div>
    </main>

    <footer>
      <Footer />
    </footer>
  </body>

  <style>
    header {
      z-index: 1000;
    }
    h1 {
      padding-left: 24px;
      background-image: url(/img/coolbox_hero.webp);
      background-size: cover;
      position: relative;
      z-index: -1;
    }
    section {
      position: relative;
    }
    .orange_knap {
      background-color: #e8a965;
      color: white;
      border: none;
      border-radius: 25px;
      height: 35px;
      padding: 0px 35px;
      cursor: pointer;
      text-decoration: none;
      font-size: 0.75rem;
      font-family: "Margarine";
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transition: transform 0.2s ease;
      letter-spacing: 0.8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    button.orange_knap {
      width: 84px;
      margin-left: 0px;
    }

    .orange_knap:hover {
      transform: scale(1.2);
    }

    .is_skilt_container {
      aspect-ratio: 218/361;
      width: 150px;
      position: absolute;
      bottom: 0px;
      display: none;
    }

    .is_skilt_sprite {
      background-image: url(/img/is_skilt.svg);
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .afsnit {
      margin: 45px 0;
    }
    h2 {
      margin-left: 24px;
    }

    label {
      margin-bottom: 9px;
    }

    p {
      margin-right: 24px;
      margin-left: 24px;
    }
    .pris {
      font-weight: 500;
    }
    label {
      font-family: "Margarine";
      text-transform: uppercase;
      font-size: 0.9rem;
    }

    .img_pige {
      display: flex;
      margin-left: 24px;
      width: 250px;
      margin-bottom: 30px;
      border-radius: 25px;
    }

    /* VARIANT FORM */
    .variant-container,
    .oplysninger_form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 10px 24px 10px;
    }

    .variant_afsnit {
      background-color: #dfebf3;
      padding-top: 25px;
      padding-left: 24px;
    }
    .variant {
      display: flex;
      align-items: center;
      margin-left: 0;
      margin-top: 10px;
    }
    .variant input[type="checkbox"] {
      display: none;
    }
    .variant label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .variant label::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #12375b;
      border-radius: 50%;
      margin-right: 10px;
    }
    .variant input[type="checkbox"]:checked + label::before {
      background-color: #e8a965;
      border-color: #12375b;
    }
    .variant input[type="checkbox"]:disabled + label::before {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .form-container {
      padding: 20px 7% 0 7%;
      border-radius: 10px;
    }

    .oplysninger_form input,
    .oplysninger_form textarea,
    .oplysninger_form option,
    .oplysninger_form select {
      display: block;
      width: 100%;
      margin-bottom: 35px;
      padding: 10px;
      border: 0px solid #ccc;
      border-radius: 25px;
      box-sizing: border-box;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .tekst_2 {
      margin-bottom: 35px;
    }
    .orange_knap {
      display: flex;
      margin: 0 auto;
    }

    .icon {
      width: 16px;
    }

    .ikoner {
      padding-bottom: 25px;
    }
    .ikoner p {
      width: 160px;
    }

    .afsnit_2 {
      margin-top: 50px;
    }

    footer {
      margin-top: 50px;
    }
    .h2 {
      margin-left: 24px;
    }

    @media (min-width: 768px) {
      .grid_overst {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0;
      }
      p {
        margin-right: 50px;
        margin-left: 0;
      }

      .tekst_2 {
        margin-left: 50px;
      }

      .grid_overst > div:first-child {
        order: 2;
      }

      .grid_overst > div:last-child {
        order: 1;
      }
      .variant_afsnit {
        padding-left: 0;
      }
      .img_pige {
        width: 300px;
        height: auto;
        margin-left: 50px;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
      }
      .varianter_grid {
        display: flex;
        flex-direction: row;
        gap: 100px;
        margin-left: 50px;
      }

      .ikoner {
        display: flex;
        margin-bottom: 30px;
        padding-bottom: 20px;
        gap: 120px;
        padding-left: 50px;
        margin-left: 0;
      }

      .ikoner p {
        width: unset;
      }

      .variant-container {
        margin-bottom: 15px;
      }

      .oplysninger_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-left: 0;
        padding-left: 50px;
      }
      h1 {
        padding-left: 50px;
      }
      .h2 {
        margin-left: 50px;
      }
      h2 {
        margin-left: 0;
      }

      .is_skilt_container {
        aspect-ratio: 218/361;
        width: 130px;
        position: absolute;
        bottom: 0px;
        left: 500px;
        display: block;
      }

      .is_skilt_sprite {
        background-image: url(/img/is_skilt.svg);
        background-size: cover;
        width: 100%;
        height: 100%;
      }

      .orange_knap {
        padding: 25px 45px;
        font-size: 0.89rem;
      }
    }

    @media (min-width: 1024px) {
      h2 {
        font-size: 1.9rem;
      }

      label {
        font-size: 1.3rem;
      }
      h1 {
        background-attachment: fixed;
      }
      .variant label {
        font-weight: 100;
      }

      .variant-container,
      .oplysninger_form,
      h1,
      .variant_afsnit h2,
      .afsnit_2 {
        padding-left: 104px;
        margin-left: 0;
        padding-right: 104px;
      }

      .variant_afsnit {
        padding-top: 50px;
        padding-bottom: 10px;
      }
      p {
        margin-left: 0;
        margin-right: 104px;
      }

      .oplysninger_form input,
      .oplysninger_form textarea,
      .oplysninger_form option,
      .oplysninger_form select {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding: 20px;
        border: 0px solid #ccc;
        border-radius: 25px;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
      }

      .orange_knap {
        margin-top: 20px;
      }

      .img_pige {
        display: flex;
        margin-left: 104px;
        width: 500px;
        margin-bottom: 30px;
        padding-left: 0;
      }

      .varianter_grid {
        display: flex;
        flex-direction: row;
        gap: 180px;
        margin-left: 104px;
        padding-left: 0;
      }

      .h2 {
        padding-left: 0;
        margin-left: 0;
      }

      .ikoner {
        padding-left: 104px;
        gap: 204px;
      }
      .tekst_2 {
        margin-left: 0;
      }
      ..grid_overst {
        padding-right: 104px;
      }
      .afsnit1_2 {
        margin-top: 70px;
        margin-bottom: 70px;
      }

      .orange_knap {
        font-size: 1rem;
      }
    }
  </style>
</html>
