---
import "../styles/style.css";
import Footer_historien_bag from "../components/Footer_historien_bag.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Historien Bag</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><Header /></header>
    <main>
      <div class="hero_billede">
        <h1 class="historien_bag">Historien bag</h1>

        <div class="grid_1_1">
          <div>
            <p>
              Velkommen til Siciliansk Is! Vi er glade for at kunne dele vores passion for is med jer alle. <br />
              <br /> Vores rejse begyndte med en dyb kærlighed til autentisk siciliansk gelato og en stærk forbindelse til Sicilien, der går tilbage til Davids families rødder. <br />
              <br /> Da vi besluttede at åbne vores egen isbutik, vidste vi, at vi ville bringe den autentiske smag af Sicilien til København
            </p>
          </div>
          <div>
            <p>Vores is er produceret fra bunden i vores ene butik på Skydebanegade, med ingredienser importeret direkte fra Sicilien for at sikre, at vores gelato smager præcis som på Sicilien. <br /> <br /> Vi inviterer dig til at komme og smage vores is, og opleve et stykke af Sicilien her hos os. <br /> <br /> Velbekommen!</p>
          </div>
        </div>
      </div>

      <div class="grid_2_2">
        <div>
          <h2>Sicilien</h2>
          <p>Jeg, David, den ene arm af butikken, er halv sicilianer. Min far kommer fra hjertet af Sicilien, hvor han er vokset op omgivet af øens rige kultur og kulinariske traditioner.</p>
          <p>Fra da jeg var helt lille har jeg tilbragt mange somre på Sicilien, hvor jeg sammen med min far og hans familie udforskede de lokale markeder. Vi var altid på jagt efter de bedste ingredienser, og det var her jeg lærte om den dybe kærlighed til mad, som er så karakteristisk for Sicilien.</p>
        </div>

        <div>
          <img src="/img/is.png" alt="Is" class="is" />
        </div>
      </div>

      <div class="banner_div">
        <img src="/img/banner.png" alt="Banner" class="banner" />
      </div>

      <footer>
        <Footer_historien_bag />
      </footer>
    </main>

    <style>
      .hero_billede {
        background-image: url(/img/hero_billede_historienbag.png);
        padding-bottom: 100px;
      }

      h1 {
        padding-left: 24px;
      }

      p {
        line-height: 2;
        padding-left: 24px;
        font-weight: 200;
        padding-right: 24px;
      }

      h2 {
        padding: 7% 7% 0 7%;
      }

      .grid_1_1,
      .grid_2_2 {
        padding: 8% 3%;
      }

      .grid_1_1 {
        background-color: white;
        color: black;
        margin: 24px;
      }

      .is {
        display: flex;
        width: 50%;
        margin: 5% auto;
        padding-bottom: 5%;
      }

      .banner_div {
        background-color: #dfebf3;
        padding: 10% 0;
      }

      .footer_banner {
        display: none;
      }
      @media (min-width: 1024px) {
        h1 {
          padding-left: 50px;
        }

        .historien_bag {
          padding-bottom: 0;
        }
        .grid_1_1,
        .grid_2_2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 10% 3%;
        }

        .grid_1_1 {
          background-color: white;
          opacity: 70%;
          color: black;
          margin: 50px;
        }

        h2 {
          padding-bottom: 5%;
        }
        .is {
          width: 80%;
          padding-top: 25%;
        }
        p {
          padding-left: 104px;
          padding-right: 104px;
        }
      }
      @media (min-width: 768px) {
        h1 {
          padding-left: 104px;
        }

        .grid_1_1 {
          padding: 5% 3%;
        }

        .is {
          width: 40%;
          padding-top: 13%;
        }
        p {
          padding-left: 50px;
          padding-right: 50px;
        }

        .grid_1_1 {
          background-color: white;
          color: black;
          margin-left: 104px;
          margin-right: 104px;
        }
      }
    </style>
  </body>
</html>
