---
import "../styles/style.css";
import Footer_historien_bag from "../components/Footer_historien_bag.astro";
import Header from "../components/Header.astro";
import Slideshow from "../components/Slideshow.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/img/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Besøg Siciliansk Is og oplev autentisk gelato lavet med økologiske ingredienser. De tilbyder et bredt udvalg af smage, inspireret af Siciliens rige kulinariske traditioner." />
    <title>Historien Bag</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><Header /></header>
    <main>
      <div class="hero_billede">
        <h1 class="historien_bag">Historien bag</h1>

        <div class="grid_1_1">
          <div>
            <p>
              Velkommen til Siciliansk Is! Vi er glade for at kunne dele vores passion for is med jer alle. <br />
              <br /> Vores rejse begyndte med en dyb kærlighed til autentisk siciliansk gelato og en stærk forbindelse til Sicilien, der går tilbage til Davids families rødder. <br />
              <br /> Da vi besluttede at åbne vores egen isbutik, vidste vi, at vi ville bringe den autentiske smag af Sicilien til København
            </p>
          </div>
          <div>
            <p>Vores is er produceret fra bunden i vores ene butik på Skydebanegade, med ingredienser importeret direkte fra Sicilien for at sikre, at vores gelato smager præcis som på Sicilien. <br /> <br /> Vi inviterer dig til at komme og smage vores is, og opleve et stykke af Sicilien her hos os. <br /> <br /> Velbekommen!</p>
          </div>
        </div>
      </div>

      <div class="grid_2_2 grid_2_2_2_2">
        <div>
          <h2>Sicilien</h2>
          <p>Jeg, David, den ene arm af butikken, er halv sicilianer. Min far kommer fra hjertet af Sicilien, hvor han er vokset op omgivet af øens rige kultur og kulinariske traditioner. Hans historier om Sicilien har altid fascineret mig og inspireret mit arbejde hos SI.</p>
          <br />
          <br />
          <p>Fra da jeg var helt lille har jeg tilbragt mange somre på Sicilien, hvor jeg sammen med min far og hans familie udforskede de lokale markeder. Vi var altid på jagt efter de bedste ingredienser, og det var her jeg lærte om den dybe kærlighed til is, som er så karakteristisk for Sicilien.</p>
        </div>

        <div>
          <Slideshow />
        </div>
      </div>

      <div class="grid_2_2 grid_2_2_2">
        <div class="text">
          <h2>VORES IS</h2>
          <p>Vores is er lavet ud fra en siciliansk familieopskrift. Det er David selv, som alene laver isen i vores lille køkken bag vores butik på Skydebanegade. Vi bestræber os på kun at arbejde med de bedste, økologiske råvarer - og allerhelst fra Sicilien.</p>
          <br />
          <br />
          <p>Det sker dog, at vi arbejder med vilde svenske havtorn eller danske jordbær, når de er i sæson. Selvom vi er en Siciliansk isbutik, er vi ikke blege for at indrømme, at danske jordbær er helt specielle, og at de fortjener en plads i vores isdisk, når de er i sæson.</p>
        </div>

        <div class="image">
          <img src="/img/4_is.webp" alt="4 is" />
        </div>
      </div>

      <div class="banner_div">
        <img src="/img/banner.webp" alt="Banner" class="banner" />
      </div>

      <footer>
        <Footer_historien_bag />
      </footer>
    </main>

    <style>
      header {
        z-index: 100;
      }
      .hero_billede {
        position: relative;
        background-image: url(/img/hero_billede_historienbag.png);

        padding-bottom: 20px;
        z-index: -1;
      }

      h1 {
        padding-left: 24px;
      }

      p {
        line-height: 2;
        padding-left: 24px;
        font-weight: 200;
        padding-right: 24px;
      }

      h2 {
        padding: 7% 7% 0 7%;
      }

      .grid_1_1,
      .grid_2_2 {
        padding: 8% 3%;
      }

      .grid_2_2 img {
        display: flex;
        border-radius: 25px;
        max-width: 300px;
        margin: auto;
        margin-top: 55px;
      }

      .grid_2_2_2 {
        background-color: #dfebf3;
      }

      .grid_1_1 {
        background-color: rgb(255, 255, 255);
        color: black;
        margin: 24px;
        opacity: 90%;
      }

      .is {
        display: flex;
        width: 50%;
        margin: 5% auto;
        padding-bottom: 5%;
      }

      .banner_div {
        margin: 40px 0;
      }
      footer {
        background-color: #dfebf3;
        padding: 40px 0;
      }

      @media (min-width: 768px) {
        .grid_2_2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding-left: 20px;
        }

        .text {
          order: 1;
        }

        .image {
          order: -1;
        }
        h1 {
          padding-left: 104px;
        }

        .grid_1_1 {
          padding: 5% 3%;
        }

        .is {
          width: 40%;
          padding-top: 13%;
        }
        p {
          padding-left: 50px;
          padding-right: 50px;
        }

        .grid_2_2 {
          margin-left: 0;
          padding-left: 45px;
        }

        .grid_1_1 {
          background-color: white;
          color: black;
          margin-left: 104px;
          margin-right: 104px;
          border-radius: 45px;
        }

        .grid_2_2_2,
        .grid_2_2_2_2 {
          padding-left: 76px;
        }

        .grid_2_2 p,
        .grid_2_2 h2 {
          padding-left: 0px;
          margin: 0;
        }

        .grid_2_2_2 img {
          margin-left: 0;
        }
      }

      @media (min-width: 1024px) {
        .historien_bag {
          padding-bottom: 0;
        }
        .hero_billede {
          background-attachment: fixed;
        }
        .grid_1_1,
        .grid_2_2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          padding: 45px 25px;
        }

        .grid_2_2_2_2 {
          display: grid;
          grid-template-columns: 1fr 0.7fr;
          padding-left: 160px;
          padding-top: 0;
          padding-right: 62px;
        }

        .grid_2_2_2_2 h2 {
          padding-top: 75px;
        }
        .grid_2_2_2 {
          display: grid;
          grid-template-columns: 0.6fr 1fr;
          margin: auto;
          margin-left: 0;
          padding-left: 110px;
          padding-right: 140px;
          padding-bottom: 90px;
          gap: 40px;
        }

        .grid_2_2_2 img {
          margin-left: 12px;
        }

        .grid_2_2 p,
        .grid_2_2 h2 {
          padding-left: 0;
        }

        .text {
          order: 1;
          max-width: 690px;
        }

        .image {
          order: -1;
        }

        .grid_2_2 img {
          max-width: 320px;
          margin-top: 50px;
          display: unset;
          margin-left: 50px;
        }

        .grid_1_1 {
          background-color: white;
          opacity: 90%;
          color: black;
          margin: 50px;
          border-radius: 40px;
        }

        h2 {
          padding-bottom: 5%;
        }
        .is {
          width: 80%;
          padding-top: 25%;
        }
      }
    </style>
  </body>
</html>
