---
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <h1 class="historien_bag">Historien bag</h1>

      <div class="grid_1_1">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur est rerum quo sequi reprehenderit accusamus nam corrupti modi porro nostrum illo, vitae inventore nihil eveniet ducimus nisi facere? Voluptatum.</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem consequatur est rerum quo sequi reprehenderit accusamus nam corrupti modi porro nostrum illo, vitae inventore nihil eveniet ducimus nisi facere? Voluptatum.</p>
        </div>
      </div>

      <div>
        <img src="/img/butik.png" alt="Siciliansk Is Butik" class="butik" />
      </div>

      <div class="grid_1_1">
        <div>
          <h2>Sicilien</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, nobis earum dolor totam, veniam illo odit explicabo fuga ut, dolorem perspiciatis voluptatem magnam! Excepturi unde tenetur, rem fugit possimus neque.</p>
        </div>

        <div>
          <img src="/img/is.png" alt="Is" class="is" />
        </div>
      </div>

      <div>
        <img src="/img/banner.png" alt="Banner" class="banner" />
      </div>
      <footer></footer>
    </main>
  </body>
</html>

<style>
  h1 {
    background-image: url(/img/citroner.svg);
    padding: 20% 10%;
    stroke: orange;
  }
</style>
