---
import "../styles/style.css";
import Knap from "../components/Knap.astro";
import Gulis from "../components/Gulis.astro";
import Blandetis from "../components/Blandetis.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Singleis from "../components/Singleis.astro";
import Bestsellers from "../components/Bestsellers.astro";

const { myData } = Astro.props;
console.log(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <Header />
    <main>
      <h1>SICILIANSK IS</h1>
      <h2 class="h2_forside">OPLEV ÆGTE HÅNDLAVET SICILIANSK IS</h2>
      <section>
        <div class="labels_forside">
          <div class="norrebro">
            <h2>NØRREBRO</h2>
            <hr />
            <p class="p_labels">
              Skjolds Plads 2 <br />
              2200 København N
            </p>
            <br />
            <p class="p_labels aabninstider">Åbningstider</p>
            <p class="p_labels">Alle dage kl. 12 - 21</p>
            <br />
            <Knap href="https://maps.app.goo.gl/gsBNqCmMu9iipQhw9" button_text="FIND PÅ KORT" variant="orange" target="_blank" />
          </div>
          <div class="vesterbro">
            <h2>VESTERBRO</h2>
            <hr />
            <p class="p_labels">Skydebanegade 3 <br /> 1709 København V</p>
            <br />
            <p class="p_labels aabninstider">Åbningstider</p>
            <p class="p_labels">Alle dage kl. 12 - 21</p>
            <br />
            <Knap href="https://maps.app.goo.gl/nGd963tdZJhy6Lid8" button_text="FIND PÅ KORT" variant="orange" target="_blank" />
          </div>
        </div>
        <Gulis sizeandplace="index" />
      </section>
      <div class="is_priser">
        <h3>DU FÅR TRE SMAGE ØKOLOGISK SICILIANSK IS UANSET STØRRELSE!</h3>
        <div class="is_priser_grid">
          <div class="lilleis_container">
            <img class="lilleis" src="/img/lilleis.svg" alt="lilleis" />
          </div>
          <img class="mellemis" src="/img/mellemis.svg" alt="mellemis" />
          <img class="storis" src="/img/storis.svg" alt="storis" />
          <p class="lilleis_tekst">Lille is</p>
          <p>Mellem is</p>
          <p>Stor is</p>
        </div>
      </div>
      <section>
        <div class="gelato">
          <div>
            <h3 class="h3">HJEMMELAVET IS TIL FESTEN</h3>
            <p class="hjemmelavetis">Vil du have lækker, frisklavet Siciliansk is til brylluppet, fødselsdagen eller firmaarrangementet? <br /> <br /> Lej en Gelato Cool Box og spis alt det is du har lyst til! <br /> <br /> Du skal bare vælge smage, og så klarer vi resten.</p>
            <div class="button">
              <Knap href="/coolbox" button_text="BESTIL OG LÆS MERE" variant="blaa" class="button" />
            </div>
          </div>
          <div>
            <img class="gelatopige" src="/img/hjemmelavetis.webp" alt="gelato_pige" />
          </div>
        </div>
        <Blandetis sizeandplace="index" />
      </section>

      <div class="bestsellers">
        <h3>PRØV VORES BESTSELLERS</h3>
        <div class="grid_4">
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="hej" />
            <h4>PISTACIE</h4>
          </div>
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="hej" />
            <h4>HASSELNØD</h4>
          </div>
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="hej" />
            <h4>JORDBÆR SORBET</h4>
          </div>
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="hej" />
            <h4>CHOKOLADE</h4>
          </div>
        </div>
        <section class="supabase">
          {
            data.map((is) => {
              return <Bestsellers data={is} />;
            })
          }
        </section>
        <div class="button button_orange">
          <Knap href="/isvarianter" button_text="SE ALLE ISVARIANTER" variant="orange" />
        </div>
      </div>
    </main>
  </body>
  <Footer />

  <style>
    h1 {
      background-image: url(/img/hero_billede.webp);
      background-size: cover;
      text-align: center;
    }

    hr {
      border: none;
      height: 1px;
      background-color: #12375b;
      width: 120px;
      margin: 20px auto;
    }

    .h2_forside {
      text-align: center;
      margin-top: 20px;
    }
    .labels_forside {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 85px;
      margin-left: 24px;
      margin-right: 24px;
      gap: 30px;
    }
    h3 {
      margin-left: 24px;
      padding-top: 20px;
      line-height: 35px;
      margin-right: 24px;
    }

    .hjemmelavetis {
      width: 350px;
      padding-bottom: 20px;
      line-height: 30px;
    }
    .hjemmelavetis,
    .button,
    h4 {
      margin-left: 24px;
    }

    section {
      position: relative;
    }

    .hero {
    }
    .button {
      margin-bottom: 60px;
    }

    .findpåkort {
      margin-left: 0;
    }
    .is_priser_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      padding-bottom: 30px;
      align-items: center;
      margin-left: 0;
      margin-right: 37px;
      place-items: center;
    }

    .lilleis {
      width: 80px;
      margin-left: 30px;
    }

    .lilleis .lilleis_tekst {
      margin-left: 30px;
    }
    .mellemis {
      width: 100px;
    }

    .storis {
      width: 120px;
    }

    .gelatopige {
      width: 245px;
      margin-left: 24px;
      height: 291px;
      margin-bottom: 30px;
      border-radius: 25px;
    }
    .button_orange {
      margin-top: 30px;
    }

    .is_priser,
    .bestsellers {
      background-color: #dfebf3;
      padding-top: 7px;
    }

    .bestsellers {
      padding-bottom: 3px;
    }
    .grid_4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      place-items: center;
      margin-left: 50px;
      margin-right: 50px;
    }

    .norrebro,
    .vesterbro {
      width: 155px;
      height: 290px;
      background-color: #ffffff;
      border-radius: 25px;
      padding-top: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .aabninstider {
      font-weight: 1000;
    }

    @media (min-width: 768px) {
      .lilleis {
        width: 160px;
        margin-left: 0;
      }
      .lilleis_tekst {
        margin-left: 0;
      }

      .mellemis {
        width: 180px;
      }

      .storis {
        width: 200px;
      }
      .is_priser_grid {
        margin-left: 50px;
        margin-right: 50px;
      }
      h3 {
        margin-left: 50px;
        margin-bottom: 20px;
        margin-right: 50px;
      }
      .hjemmelavetis {
        margin-left: 50px;
      }
      .button {
        margin-left: 50px;
      }
      .grid_4 {
        place-items: center;
      }
      .gelato {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
      }
      .gelatopige {
        width: 270px;
        height: 350px;
        margin-left: 0;
        padding-top: 0;
        margin-top: 60px;
        margin-right: 50px;
        gap: 0;
      }
      .h3 {
        padding-top: 40px;
      }
      h4 {
        text-align: center;
        margin-left: 0;
        padding-top: 20px;
      }
      .norrebro,
      .vesterbro {
        width: 220px;
        height: 310px;
        background-color: #ffffff;
        border-radius: 25px;
        padding-top: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .button_orange {
        margin-top: 30px;
      }
      .grid_4 img {
        width: 200px;
      }
    }

    @media (min-width: 1024px) {
      .labels_forside {
        gap: 50px;
        padding-top: 80px;
        padding-bottom: 80px;
      }
      .hjemmelavetis {
        margin-left: 104px;
        margin-top: 30px;
        width: 600px;
      }
      .button {
        margin-left: 104px;
        padding-top: 20px;
      }
      .gelato {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 30px;
      }

      .gelatopige {
        width: 468px;
        height: 512px;
        margin-left: 0;
        margin-top: 30px;
      }

      .grid_4 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 100px;
        margin-left: 104px;
        margin-right: 104px;
      }
      .p_labels {
        font-size: 1.6rem;
        line-height: 40px;
      }

      .norrebro,
      .vesterbro {
        width: 400px;
        height: 440px;
        background-color: #ffffff;
        border-radius: 25px;
        padding-top: 37px;
      }

      h2 {
        padding-top: 20px;
      }
      h3 {
        margin-left: 104px;
        padding-top: 50px;
        line-height: 60px;
        margin-right: 104px;
      }
      .h3 {
        margin-left: 104px;
        padding-top: 70px;
      }

      .is_priser_grid {
        margin-left: 0;
        margin-right: 104px;
        place-items: center;
        padding-top: 40px;
      }
      .lilleis {
        width: 230px;
        margin-left: 90px;
      }
      .lilleis_tekst {
        margin-left: 90px;
      }

      .mellemis {
        width: 260px;
      }

      .storis {
        width: 290px;
      }
    }
    @media (min-width: 1200px) {
      .lilleis {
        width: 250px;
        margin-left: 90px;
      }
      .lilleis_tekst {
        margin-left: 90px;
      }

      .mellemis {
        width: 280px;
      }

      .storis {
        width: 310px;
      }
    }

    @media (min-width: 1300px) {
      .lilleis {
        width: 270px;
        margin-left: 90px;
      }
      .lilleis_tekst {
        margin-left: 90px;
      }

      .mellemis {
        width: 300px;
      }

      .storis {
        width: 330px;
      }
    }
  </style>
</html>
