---
import "../styles/style.css";
import Knap from "../components/Knap.astro";
import Gulis from "../components/Gulis.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a href="/">Forside</a>
          <a href="/isvarianter">Isvarianter</a>
          <a href="/historien_bag">Historien Bag</a>
          <a href="/kontakt_os">Kontakt Os</a>
          <a href="/gelato">Lej Coolbox</a>
          <a href="/job">Job</a>
        </nav>
      </header>
      <h1>SICILIANSK IS</h1>
      <h2 class="h2_forside">OPLEV ÆGTE HÅNDLAVET SICILIANSK IS</h2>
      <div class="labels_forside">
        <div class="norrebro">
          <h2>NØRREBRO</h2>
          <hr />
          <p class="p_labels">
            Skjolds Plads 2 <br />
            2200 København N
          </p>
          <br />
          <p class="p_labels aabninstider">Åbningstider</p>
          <p class="p_labels">Alle dage kl. 12 - 21</p>
          <br />
          <Knap button_text="FIND PÅ KORT" variant="orange" />
        </div>
        <div class="vesterbro">
          <h2>VESTERBRO</h2>
          <hr />
          <p class="p_labels">Skydebanegade 3 <br /> 1709 København V</p>
          <br />
          <p class="p_labels aabninstider">Åbningstider</p>
          <p class="p_labels">Alle dage kl. 12 - 21</p>
          <br />
          <Knap button_text="FIND PÅ KORT" variant="orange" />
        </div>
      </div>
      <Gulis sizeandplace="index" />
      <div class="is_priser">
        <h3>DU FÅR TRE SMAGE ØKOLOGISK SICILIANSK IS UANSET STØRRELSE!</h3>
        <div class="is_priser_grid">
          <img class="lilleis" src="/public/img/lilleis.svg" alt="lilleis" />
          <img class="mellemis" src="/public/img/mellemis.svg" alt="mellemis" />
          <img class="storis" src="/public/img/storis.svg" alt="storis" />
          <p>Lille is</p>
          <p>Mellem is</p>
          <p>Stor is</p>
        </div>
      </div>
      <div class="gelato">
        <div>
          <h3>HJEMMELAVET IS TIL FESTEN</h3>
          <p class="hjemmelavetis">Vil du have lækker, frisklavet Siciliansk is til brylluppet, fødselsdagen eller firmaarrangementet? <br /> Lej en Gelato Cool Box og spis alt det is du har lyst til! <br /> Du skal bare vælge smage, og så klarer vi resten.</p>
        </div>
        <div>
          <img class="gelatopige" src="/public/img/gelato_pige.svg" alt="gelato_pige" />
        </div>
        <div class="button">
          <Knap button_text="BESTIL OG LÆS MERE" variant="blaa" class="button" />
        </div>
      </div>
      <div class="bestsellers">
        <h3>PRØV VORES BESTSELLERS</h3>
        <div class="grid_4">
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="" />
            <h4>PISTACIE</h4>
          </div>
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="" />
            <h4>HASSELNØD</h4>
          </div>
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="" />
            <h4>JORDBÆR SORBET</h4>
          </div>
          <div>
            <img src="/public/img/varianter/chokolade.svg" alt="" />
            <h4>CHOKOLADE</h4>
          </div>
        </div>
        <div class="button">
          <Knap button_text="SE ALLE ISVARIANTER" variant="orange" />
        </div>
      </div>
    </main>
  </body>

  <style>
    h1 {
      background-image: url(/img/spiseris.png);
      background-size: cover;
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
    }

    hr {
      border: none; /* Fjern standardkant */
      height: 1px; /* Indstil tykkelsen af linjen */
      background-color: #12375b; /* Vælg farven på linjen */
      width: 120px; /* Indstil bredden på linjen */
      margin: 20px auto; /* Centrer linjen og tilføj margin over og under */
    }
    .h2_forside {
      text-align: center;
      margin-top: 20px;
    }
    .labels_forside {
      display: flex;
      gap: 40px;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 103px;
    }
    h3 {
      width: 350px;
      margin-left: 24px;
      padding-top: 20px;
    }

    .hjemmelavetis {
      width: 350px;
      padding-bottom: 20px;
      line-height: 30px;
    }
    .hjemmelavetis,
    .button,
    h4 {
      margin-left: 24px;
    }

    .button {
      margin-bottom: 60px;
    }

    .findpåkort {
      margin-left: 0;
    }
    .is_priser_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      padding-bottom: 30px;
      align-items: center;
      margin-left: 10px;
    }

    .lilleis {
      width: 90px;
    }
    .mellemis {
      width: 110px;
    }

    .storis {
      width: 130px;
    }

    .gelatopige {
      width: 245px;
      margin-left: 24px;
      height: 291px;
      padding-bottom: 30px;
    }

    .is_priser,
    .bestsellers {
      background-color: #dfebf3;
      padding-top: 7px;
    }

    .bestsellers {
      padding-bottom: 3px;
    }
    .grid_4 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      margin: 24px;
    }

    .norrebro,
    .vesterbro {
      width: 155px;
      height: 290px;
      background-color: #ffffff;
      border-radius: 25px;
      padding-top: 25px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .aabninstider {
      font-weight: 1000;
    }

    @media (min-width: 600px) {
      h1 {
        padding-top: 250px;
        padding-bottom: 250px;
      }
      .labels_forside {
        gap: 50px;
        margin-top: 80px;
        margin-bottom: 80px;
      }

      .gelato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 80px;
        gap: 140px;
      }
      .grid_4 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 100px;
      }
      .p_labels {
        font-size: 1.6rem;
        line-height: 40px;
      }

      .norrebro,
      .vesterbro {
        width: 641px;
        height: 534px;
        background-color: #ffffff;
        border-radius: 25px;
        padding-top: 100px;
      }
    }
  </style>
</html>
