---
import Is from "../components/Is.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/style.css";

const data = await fetch("https://knpasnojnbrmppkbhvhs.supabase.co/rest/v1/products", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtucGFzbm9qbmJybXBwa2JodmhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4MDI0MzgsImV4cCI6MjAzMTM3ODQzOH0.eV1A8Lk9Z7NfumZ5D9SRoNkwuK49yVj8DYHv3q0-bNM",
  },
}).then((response) => response.json());
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header>
        <Header />
      </header>
      <h1>ISVARIANTER</h1>

      <section class="varianter">
        {
          data.map((is) => {
            return <Is data={is} />;
          })
        }
      </section>
    </main>
    <Footer />
  </body>
  <style>
    h1 {
      background-image: url(/img/spiseris.png);
      background-size: cover;
      padding-left: 24px;
    }

    .produkt_img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }

    .billede_1 {
      height: 20px !important;
      width: 20px !important;
    }
    .billede_2 {
      height: 20px !important;
      width: 20px !important;
    }

    .varianter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
    }
    a:link {
      text-decoration: none;
    }
    @media (min-width: 768px) {
      h1 {
        padding-left: 50px;
      }
    }

    @media (min-width: 1024px) {
      .varianter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
      }

      h1 {
        padding-left: 104px;
      }
    }
  </style>
</html>
