---
import Is from "../components/Is.astro";
import Footer from "../components/Footer.astro";
import Singleis from "../components/Singleis.astro";

const data = await fetch("https://knpasnojnbrmppkbhvhs.supabase.co/rest/v1/products", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtucGFzbm9qbmJybXBwa2JodmhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4MDI0MzgsImV4cCI6MjAzMTM3ODQzOH0.eV1A8Lk9Z7NfumZ5D9SRoNkwuK49yVj8DYHv3q0-bNM",
  },
}).then((response) => response.json());
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a href="/">Forside</a>
          <a href="/isvarianter">Isvarianter</a>
        </nav>
      </header>
      <div class="image_container">
        <div class="billeder">
          <img src="img/citroner.svg" alt="Citroner" />
        </div>
        <div class="overlay_text">ISVARIANTER</div>
        <div class="overlay_text_1">
          <img class="billede_2" src="img/nut.png" alt="nut" />
          = Indeholder Nødder
        </div>
        <div class="overlay_text_2">
          <img class="billede_1" src="img/vegan.png" alt="vegan" />
          = Vegansk
        </div>
      </div>

      <section class="varianter">
        {
          data.map((is) => {
            return <Is data={is} />;
          })
        }
      </section>
      <Footer />
    </main>
  </body>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .billeder {
    }
    body {
      box-sizing: border-box;
      background-color: #dfebf3;
    }

    .produkt_img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
    }

    .image_container {
      position: relative;
      text-align: center;
      color: white;
      width: 100%;
      height: 100%;
      height: calc(80vh - 300px);
    }

    .image_container img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      height: calc(80vh - 300px);
    }
    .billede_1 {
      height: 20px !important;
      width: 20px !important;
    }
    .billede_2 {
      height: 20px !important;
      width: 20px !important;
    }

    .overlay_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: luckiest guy;
      font-size: 2.5rem;
      white-space: nowrap;
    }
    .overlay_text_1 {
      position: absolute;
      top: 80%;
      left: 10%;

      font-family: luckiest guy;
      font-size: 1rem;
      white-space: nowrap;
      background-image: url(/img/vegan.jpg);
    }
    .overlay_text_2 {
      position: absolute;
      top: 70%;
      left: 10%;

      font-family: luckiest guy;
      font-size: 1rem;
      white-space: nowrap;
    }
    .varianter {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: auto;
    }
    a:link {
      text-decoration: none;
    }

    @media (min-width: 800px) {
      .varianter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
      }
    }
  </style>
</html>
