---
import "../styles/style.css";
import Knap from "../components/Knap.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Margarine&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header></header>
    <main>
      <h1>WORKSHOP</h1>
      <h2>VIL DU LÆRE AT LAVE SICILIANSK IS?</h2>
      <div class="grid_workshop">
        <div>
          <h3>OM VORES WORKSHOP</h3>
          <p>I vores workshops bliver I inviteret helt ind i de traditionelle Italienske istraditioner. <br />Vi fortæller om vores måde at lave is på, og lærer jer hvordan i kan lave det derhjemme. <br /> <br /> Uanset om i går med en drøm om at lave is derhjemme, eller om i bare skal have en hyggeligdag med venner, familie eller kollegaer, så garanterer vi, at i går glade hjem.</p>
        </div>
        <div>
          <h3>DET PRAKTISKE</h3>
          <p>Workshoppen foregår i vores butik på Skydebadegade, som er der hvor vi producerer alt vores is til butikkerne. <br /> <br /> Vi har plads til 12 deltagere, men vi kan være fleksible ved større bookinger, så skriv endelig hvis det er tilfældet. <br /> <br /> Der er workshops den første søndag hver måned fra 14:00-16:00, og der er is og lidt lette Italienske delikatesser inkluderet i prisen.</p>
          <br />
          <p class="tyk_tekst">Prisen er 600 kr. pr. deltager.</p>
          <br />
          <div class="button">
            <Knap button_text="TILMELD DIG HER" variant="orange" class="button" />
          </div>
        </div>
        <img src="public/img/si_flag1.webp" alt="si_flag" />
      </div>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  body {
    background-color: #f2f7fa;
  }
  h1 {
    background-image: url(/img/spiseris.png);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
  }

  h2 {
    margin-top: 30px;
    margin-left: 24px;
  }
  h3 {
    margin-top: 40px;
    margin-left: 24px;
  }
  p {
    margin-top: 10px;
    margin-left: 24px;
    margin-right: 24px;
  }
  .tyk_tekst {
    font-weight: 500;
  }

  .button {
    margin-left: 24px;
    margin-bottom: 50px;
  }

  img {
    width: 280px;
    margin-bottom: 50px;
  }

  @media (min-width: 600px) {
    h1 {
      padding-left: 100px;
    }
    .grid_workshop {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    h2 {
      margin-top: 80px;
      margin-left: 104px;
    }
    h3 {
      margin-top: 50px;
      margin-left: 104px;
    }
    p {
      margin-top: 20px;
      margin-left: 104px;
      margin-right: 104px;
      line-height: 35px;
    }
    .button {
      margin-left: 100px;
      margin-bottom: -100px;
    }
    img {
      width: 300px;
      margin-bottom: 104;
    }
  }
</style>
