---
const { sizeandplace } = Astro.props;
---

<div class={sizeandplace} id="gulis_container">
  <div id="gulis_sprite"></div>
</div>

<style>
  #gulis_container {
    aspect-ratio: 73/121;
  }

  #gulis_sprite {
    background-image: url(/img/gulis.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .index {
    aspect-ratio: 73/121;
    width: 80px;
    position: static;
    top: 600px;
  }

  @media (min-width: 600px) {
    .index {
      width: 200px;
      top: 1190px;
    }
  }
</style>
