---

---

<header>
  <div class="logo">
    <a href="/"><img src="/img/logo.webp" alt="Logo" class="logo" /></a>
  </div>
  <nav>
    <ul class="menu">
      <li><a href="/coolbox">Coolbox</a></li>
      <li><a href="/isvarianter">Isvarianter</a></li>
      <li><a href="/historien_bag">Historien bag</a></li>
      <li><a href="/workshop">Workshop</a></li>
      <li><a href="/kontakt_os">Kontakt os</a></li>
    </ul>
    <div class="burger-menu" id="burgerMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>

<style>
  /*menu*/

  header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    background-image: url(/img/markise.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo {
    height: 85px;
    margin-top: 3px;
    margin-left: 3px;
  }

  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 1000;
  }

  .menu-container {
    margin-left: auto;
  }

  .menu li {
    margin-left: 20px;
  }

  .menu a {
    text-decoration: none;
    color: #ea9942;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: system-ui, sans-serif;
    padding: 30px;
    text-shadow: 0.5px 1px 0.5px #393939be;
  }

  /* Burger Menu Styles */
  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .burger-menu span {
    width: 20px;
    height: 2px;
    background: #ea9942;
    margin: 4px 0;
  }

  @media (max-width: 1142px) {
    .menu a {
      font-size: 0.8rem;
      padding: 10px;
    }
    header {
      padding-top: 5px;
    }

    .logo {
      height: 65px;
      margin-left: 0px;
      padding-top: 5px;
    }
  }

  @media (max-width: 1000px) {
    .logo {
      height: 55px;
      margin-left: 0.2px;
      padding-top: 0;
      margin-top: 0px;
    }
  }

  /* Media Query for mobil */
  @media (max-width: 768px) {
    .logo {
      height: 47px;
      margin-left: 0.6px;
      padding-top: 0;
      margin-top: 2px;
    }
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      right: 0;
      background: #f2f7fa;
      width: 100%;
      text-align: center;
      z-index: 1;
    }

    .menu li {
      margin: 10px 0;
    }

    .burger-menu {
      display: flex;
    }
    header {
      padding-top: 0;
      padding-right: 15px;
    }

    header {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 90px;
      background-image: url(/img/markise_mobil.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .menu.active {
    display: flex;
  }

  /* UNDERSTREG */

  nav a {
    transition: transform 0.3s ease;
  }
  nav a:hover {
    text-decoration: underline;
  }
</style>
<script>
  document.getElementById("burgerMenu").addEventListener("click", function () {
    var menu = document.querySelector(".menu");
    menu.classList.toggle("active");
  });
</script>
