---
import { quotelessJson } from "astro/zod";

const { data } = Astro.props;
---

<a href={`is/${data.slug}`}>
  <article class="produkt_liste">
    <div class="produkt_div">
      <img class="is_img" src={"/img/varianter/" + data.image} alt="is" />
      <div class="allergy_img_container">
        <h4>{data.name}</h4>
        {data.allergyy && <img class="allergy" src={data.allergyy} alt="is" />}
      </div>
    </div>
  </article>
</a>
<slot />

<style>
  .is_img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .allergy {
    height: 15px;
    width: 15px;
  }
  .allergy_img_container {
    display: flex;
  }
  .produkt_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  a:link {
    text-decoration: none;
  }
  h4 {
    margin: auto;
    margin-bottom: 25px;
  }

  @media (min-width: 800px) {
    .is_img {
      border-radius: 50%;
      width: 250px;
      height: 250px;
    }
  }
</style>
